<% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
<%= form_with model: @post, method: :patch do |f| %>
  <label>タイトル</label>
  <%= f.text_field :title %>

  <label>内容</label>
  <%= f.text_area :body %>

  <label>カテゴリ</label>
  <%= f.select :category, [["くらし", "living"], ["おでかけ", "trip"], ["ごはん", "food"], ["ざつだん", "talk"]], include_blank: "カテゴリ選択" %>

  <label>画像</label>
  <%=  f.file_field :post_image, accept: "image/*" %>

  <%= f.submit '更新する' %>

<% end %>