<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.body %>
  <%= post.category %>
  <% if post.post_image.attached? %>
    <%= image_tag post.post_image, size: "200x200" %>
  <% else %>
    <%= image_tag 'noimage.png', size: "200x200" %>
  <% end %>
<% end %>
