<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">

      <h2 class="text-dark bg-light p-4 mb-0">新規投稿</h2>
        <div class="form-body p-4">
          <% if @post.errors.any? %>
            <ul class="alert alert-danger" role="alert">
              <h6 class="alert-heading">
                <%= @post.errors.count %>件のエラーが発生しました
              </h6>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_with model: @post, url:'/posts' do |f| %>

            <%= f.label :"画像" %><br />
            <%= f.file_field :post_image, accept: "image/*", class: "w-100" %>
            
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-keyboard"></i></span>
              </div>
              <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
            </div>
    
              <%= f.text_area :body, class:"form-control", rows:"10", placeholder:"本文" %>
            <div class="field mt-2">
              <%= f.label :"カテゴリ" %><br />
              <%= f.select :category, [["くらし", "living"], ["おでかけ", "trip"], ["ごはん", "food"], ["ざつだん", "talk"]], include_blank: "カテゴリ選択" %>
            </div>
    
            <hr>
    
            <div class="actions mt-3">
              <%= f.submit '投稿', class: "btn btn-outline-secondary" %>
            </div>
    
          <% end %>

      </div>
    </div>
  </div>
</div>