<div class="container">
  <div class="row">
    <h2><%= @post.title %></h2>
    <table class="table">
      <tr>
        <td><%= link_to @post.user.name, user_path(@user.id) %></td>
          <%= image_tag @post.get_post_image, :height => '150' %>
        <td><%= @post.body %></td>
        <% if @post.user == current_user %>
          <td><%= link_to "編集", edit_post_path(@post.id) %></td>
          <td><%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        <% end %>
        <% if user_signed_in? %>
        <td id="favorite_buttons_<%= @post.id %>">
          <%= render "users/favorites/favorite", post: @post %>
        </td>
        <% end %>
      </tr>
    </table>

    <p>コメント一覧（<%= @post.comments.count %>件）</p>
    <div id="comment_area_<%= @post.id %>">
      <%= render "users/comments/show", post: @post, comment: @comment %>
    </div>
    <div id="comment_form_<%= @post.id %>">
      <%= render "users/comments/comment", post: @post, comment: @comment %>
    </div>
  </div>
</div>