<div class="container">
  <div class="row no-gutters">
    <div class="col-2 text-center">
      <%= render 'sidebar' %>
    </div>
    <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h3 class="text-dark bg-light p-4 mb-0 post-h2-title"><%= @post.title %>
        <% if @post.user == current_user %>
          <span class="post-btn"><%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-secondary" %>
          <%= link_to "削除", post_path(@post), class: "btn btn-outline-secondary" , method: :delete, "data-confirm" => "本当に削除しますか？" %></span>
        <% end %>
      </h3>
      <div class ="post-detail-image">
        <%= image_tag @post.get_post_image, :width => '100%' %>
      </div>
      <div class="post-content">
        <p><%= link_to @post.user.name, user_path(@user.id) %></p>
      </div>
      <p><%= @post.body %></p>
      <% if user_signed_in? %>
        <p id="favorite_buttons_<%= @post.id %>">
          <%= render "users/favorites/favorite", post: @post %>
        </p>

        <div class="comment-area">
          <p>コメント一覧（<%= @post.comments.count %>件）</p>
          <% @post.comments.each do |comment| %>
            <p><%= comment.user.name %> : <%= comment.comment %></p>
            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
            <% if comment.user == current_user %>
              <%= link_to "削除", post_comment_path(comment.post, comment),class: "btn btn-outline-secondary", method: :delete %>
            <% end %>
          <% end %>
        </div>
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, cols: "80", rows: '2', placeholder: "コメントをここに" %>
        <%= f.submit "投稿", class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
    <% end %>
    </div>
  </div>
</div>