<h1><%= @post.title %></h1>
<%= image_tag @post.get_post_image, :height => '150' %>
<p><%= @post.body %></p>
<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<% if @post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(@post), method: :delete do %>
      ♥<%= @post.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorites_path(@post), method: :post do %>
      ♡<%= @post.favorites.count %> いいね
    <% end %>
  </p>
<% end %>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= comment.user.name %></p>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
