<div class="container">
  <div class="row no-gutters">
    <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h2 class="text-dark bg-light p-3 mb-0 post-h2-title"><%= @post.title %>
      <% if @post.user == current_user %>
        <p class="post-btn"><%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-secondary" %>
        <%= link_to "削除", post_path(@post), class: "btn btn-outline-secondary" , method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
      <% end %>
    </h2>
    <div>
      <tr>
        <td><%= link_to @post.user.name, user_path(@user.id) %></td>
          <%= image_tag @post.get_post_image, :height => '150' %>
        <td><%= @post.body %></td>
        <% if user_signed_in? %>
        <p id="favorite_buttons_<%= @post.id %>">
          <%= render "users/favorites/favorite", post: @post %>
        </p>
        <% end %>
      </tr>
    </div>

    <div class="comment-area">
      <p>コメント一覧（<%= @post.comments.count %>件）</p>
      <% @post.comments.each do |comment| %>
        <p><%= comment.user.name %> : <%= comment.comment %></p>
        <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
        <% if user_signed_in? %>
        <div class="reply-area">
          <% comment.replies.each do |reply| %>
            <p><%= comment.user.name %> : <%= reply.comment %></p>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(reply.comment.post, reply.comment), method: :delete %>
          <% end %>
          <% end %>
        </div>
        <%= form_with model: [@post, @comment_reply] do |f| %>
        <div class="row">
          <div class="form-group col-md-6">
            <p><label>返信</label></p>
            <%= f.text_area :comment_reply, rows: '3', placeholder: "返信コメントはここに" %>
            <%= f.submit "投稿" %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
      <div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "投稿" %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>