<div class="container">
  <div class="row">
    <section class="post-blog">
      <h2 class="post-blog-heading">おでかけ</h2>
      <div class ="post-box">
        <div class="post-item">
          <% @trips.each do |post| %>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_post_image, :height => '150' %>
            <% end %>
            <section class="post-text">
              <h3 class="post-title"><%= link_to post.title, post_path(post.id) %></h3>
              <p><%= post.user.name %></p>
              <p><%= post.body %></p>
              <p class="post-date"><%= post.created_at %></p>
              <p><%= link_to "コメント #{post.comments.count} 件", post_path(post.id) %></p>
            </section>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>