<div class="container mypage">
  <div class="row">
    <div class="col">

        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <%end%>

        <h2>ユーザー編集</h2>
        <%= form_with model: @user,method: :patch do |f|%>
          <table class="table table-bordered">
            <tbody>
              <tr class="table-row">
                <th class="table-head">画像</th>
                <td class="table-deta"><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %></td>
              </tr>
              <tr class="table-row">
                <th class="table-head">ニックネーム</th>
                <td class="table-deta"> <%= f.text_field :name %></td>
              </tr>
              <tr>
                <th class="table-head">子ども情報</th>
                <td class="table-deta"><%= f.text_field :child_information %></td>
              </tr>
              <tr>
                <th class="table-head">メールアドレス</th>
                <td class="table-deta"><%= f.email_field :email %></td>
              </tr>
              <tr>
                <th class="table-head">自己紹介</th>
                <td class="table-deta"><%= f.text_field :introduction %></td>
              </tr>
            </tbody>
          </table>
            <%= f.submit "変更" ,class: "btn btn-outline-dark" %>
          </div>
        <% end %>
  </div>
</div>