<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="m-0 pr-1 post-blog-heading">ユーザー</h2>
  </div>
  <div class="row" style="margin-top: 40px;">

    <!--sidebar-->
    <div class="col-2 text-center">
      <%= render 'users/posts/sidebar' %>
    </div>

    <!--main content-->
    <div class ="col-10 col-lg-9">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card shadow-lg">
              <div class="card-image" style="width: 100%;">
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image, class:"card-img-top"; %>
                <% end %>
              </div>
              <div class="card-body">
                <div class="card-title">
                <span>
                  <%= link_to(user_path(user.id), class:"text-dark") do %>
                    <strong><span> <%= user.name %></span></strong>
                  <% end %>
                </span>
                <% if user != current_user %>
                  <span id="follow_<%= user.id %>">
                    <%= render "users/shared/follow", user: user %>
                  </span>
                <% end %>
                </div>
                <span><%= "投稿 #{user.post.count}件" %></span><br>
                <span class="user-text-chld"><i class="fas fa-baby"></i><%= user.child_information %></span><br>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= paginate @users %>
  </div>
</div>