<div class="container">
  <div class="row no-gutters">
    <div class="col-2 text-center">
      <%= render 'users/posts/sidebar' %>
    </div>
    <div class="col-md-9 col-sm-9 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">

      <% if user_signed_in? && current_user.id.to_s == params[:id] %>
      <h2 class="text-dark bg-light p-4 mb-0">
        <%= image_tag @user.get_profile_image, class: "rounded-circle", :height => '70' %>  <%= @user.name %>    <%= link_to "編集", edit_user_path(current_user) , class: "btn btn-outline-secondary" %>
      </h2>
      <div>
        <ul class="list-group list-group-horizontal flex-fill list-group-flush">
          <li class="list-group-item">
            <%= link_to favorites_user_path(@user), class: "text-link" do %>
              <i class="fas fa-heart"></i> <%= @user.favorites.count %> お気に入り
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to followings_user_path(@user), class: "text-link" do %>
              <i class="fas fa-user-friends"></i> <%= @user.followings.count %> フォロー
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to followers_user_path(@user), class: "text-link" do %>
              <i class="fas fa-user-friends"></i> <%= @user.followers.count %> フォロワー
            <% end %>
          </li>
        </ul>
      </div>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="table-head">子ども情報</th>
            <td class="table-deta"><%= @user.child_information %></td>
          </tr>
          <tr>
            <th class="table-head">メールアドレス</th>
            <td class="table-deta"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="table-head">自己紹介</th>
            <td class="table-deta"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <% else %>
      <h2 class="text-dark bg-light p-4 mb-0">
        <%= image_tag @user.profile_image,class: "rounded-circle", :height => '70' %>  <%= @user.name %>
          <% if current_user.following?(@user) %>
            <%= link_to user_relationships_path(@user.id), method: :delete do %>
              <i class="fas fa-user-minus" style="color: #8ab3a4;"></i>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user.id), method: :post do %>
              <i class="fas fa-user-plus" style="color: #8ab3a4;"></i>
            <% end %>
          <% end %>
      </h2>
      <div>
        <ul class="list-group list-group-horizontal flex-fill list-group-flush">
          <li class="list-group-item">
            <%= link_to favorites_user_path(@user), class: "text-link" do %>
              <i class="fas fa-heart"></i> <%= @user.favorites.count %> お気に入り
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to followings_user_path(@user), class: "text-link" do %>
              <i class="fas fa-user-friends"></i> <%= @user.followings.count %> フォロー
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to followers_user_path(@user), class: "text-link" do %>
              <i class="fas fa-user-friends"></i> <%= @user.followers.count %> フォロワー
            <% end %>
          </li>
        </ul>
      </div>
        <% if @user.is_deleted == true %>
          <p class="post-body">退会済みです</p>
        <% else %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th class="table-head">子ども情報</th>
                <td class="table-deta"><%= @user.child_information %></td>
              </tr>
              <tr>
                <th class="table-head">自己紹介</th>
                <td class="table-deta"><%= @user.introduction %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
      <%= render 'users/posts/post', posts: @posts %>
    </div>
  </div>
</div>
