<% users.each do |user| %>
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-lg-3">
        <%= link_to admins_user_path(user.id) do %>
          <%= image_tag user.get_profile_image, class:"card-img-top index-img"; %>
        <% end %>
      </div>
      <div class="col-lg-9">
        <div class="card-body">
          <p class="card-title">
            <%= link_to(admins_user_path(user.id), class:"text-dark") do %>
              <strong><i class="far fa-user"></i><span> <%= user.name %></span></strong>
            <% end %>
          </p>
          <span><%= link_to "#{user.post.count} 投稿", admins_user_path(user.id), class: "text-link" %>　｜
          <%= link_to "#{user.followings.count} フォロー", followings_user_path(user.id), class: "text-link" %> ｜ <%= link_to "#{user.followers.count} フォロワー", followers_user_path(user.id), class: "text-link" %></span><br>
          <span class="user-text"><i class="fas fa-baby"></i><%= user.child_information %></span><br>
          <span class="user-text"><%= user.introduction %></span><br>
          <span class="user-text">ステータス：
            <% if user.is_deleted == true %>
              <%= "退会済み" %>
            <% else %>
              <%= "有効" %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>