<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image, :height => '150' %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>
  <%= link_to admins_post_path(post.id) do %>
    <%= image_tag post.get_post_image, :height => '100' %>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>本文：<%= post.body %></p>
</div>
<% end %>