<header>

  <nav class="navbar navbar-expand-lg navbar-derk p-1 header-logo" style="background-color:#192436" id="h-nav">

    <a class="navbar-brand" href="/">
    <%#= image_tag '', size: "" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbar1">
      <ul class="navbar-nav ml-auto mr-auto">
      <% if user_signed_in? %>
      <!--ユーザーがログインしている時 -->
        <li>
          <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
          マイページ
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
          ログアウト
          <% end %>
        </li>
      <% elsif admin_signed_in? %>
      <!-- 管理者がログインしている時 -->
        <li>
          <%=  link_to admin_posts_path,class: 'nav-link text-light' do %>
          投稿一覧
          <% end %>
        </li>
        <li>
          <%=  link_to admin_user_path,class: 'nav-link text-light' do %>
          会員一覧
          <% end %>
        </li>
        <li>
          <%=  link_to admin_categories_path,class: 'nav-link text-light' do %>
          カテゴリ一覧
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
          ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
          新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
          ログイン
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
      </div>
    </div>
  </nav>
  </div>
</header>