<!DOCTYPE html>
<html>
  <head>
    <title>MamaPlaza</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7c3fb47ea9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
